<!DOCTYPE html>
<html lang="en">
<head>
    <title>Users</title>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Error occurred {{ message }}</h1>
<a href="/users">Back to users page</a>
</body>
</html>
